@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500;

  --navbar-height: 80px;
}

section,
footer {
  z-index: 1;
  position: relative;
}

.bg-image {
  background-image: url("@/assets/abstract-blue-geometric-shapes-background_24972-1841.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 700px) {
  .bg-image {
    background-image: url("@/assets/abstract-blue-vertical.png");
  }
}
